# gitignore template for LangChain products, e.g., LangGraph, LangSmith
# website: https://www.langchain.com/
# website: https://www.langchain.com/langgraph

# LangGraph
.langgraph_api/
.venv
venv
__pycache__
.env
graph_diagram.png
langgraph_examples.egg-info
langgraph_server.egg-info
